.services {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.services-description {
  color: var(--gray);
  font-size: 1rem;
  margin-top: 1rem;
  text-align: justify;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #b9c8e7;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 66%;
  filter: blur(72px);
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 992px) {
  .services {
    margin-top: 5rem;
    padding: 0;
  }
}
