.navbar-toggler {
  padding: 0 !important;
  border: none !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.navbar li a.active {
  color: var(--orange);
  font-weight: bold;
}

.button-toggle {
  color: var(--orange);
  svg {
    padding: 2px;
    border: 1px solid #fca71f48;
    font-size: 2.2rem;
    border-radius: 5px;
  }
}

.logo-image {
  width: 120px;
  margin-left: 20px;
  @media screen and (max-width: 992px) {
    width: 80px;
  }
}

.nav-link {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 992px) {
    border-bottom: 1px dashed #fca71f4d;
  }
  &:hover {
    color: var(--orange) !important;
  }
}

a .active {
  text-decoration: none;
  color: var(--orange) !important;
}
