.intro {
  display: flex;
  margin-top: 16rem;
  margin-bottom: 8rem;
}

/* Left side styling */
.intro-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.intro-left__name {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 992px) {
    font-size: 1.2rem;
    text-align: center;
  }
}

.intro-left__name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 1.8rem;
  white-space: nowrap;

  @media screen and (max-width: 992px) {
    font-size: 1.2rem;
  }
}

.intro-left__name > :nth-child(2) {
  color: var(--black);
  font-weight: bold;
  font-size: 2.2rem;
  white-space: nowrap;

  @media screen and (max-width: 992px) {
    font-size: 1.4rem;
  }
}

.intro-left__name > :nth-child(3) {
  white-space: nowrap;
  color: var(--orange);
  font-weight: bold;
  font-size: 2.2rem !important;

  @media screen and (max-width: 992px) {
    font-size: 1.6rem !important;
  }
}

.intro-left__button {
  margin-top: 1rem;
  font-size: 18px;
}

/* Right side styling */
.intro-right {
  flex: 1;
  position: relative;

  @media screen and (max-width: 992px) {
    margin-bottom: 3rem;
  }
}

.intro-right > * {
  position: absolute;
  z-index: 1;
}

.intro-right > :nth-child(1) {
  transform: scale(1.4);
  left: 28%;

  @media screen and (max-width: 576px) {
    transform: scale(1.2);
    left: 15%;
  }
}

.intro-right > :nth-child(2) {
  transform: scale(0.62);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
}

.intro-right__image {
  position: relative;
  max-height: 330px;
}

.intro-right__image::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  filter: blur(10px);
}

/* Blur */
.blur-intro {
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff85;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 992px) {
  .intro {
    flex-direction: column-reverse;
    margin-top: 8rem;
    margin-bottom: 4rem;
    gap: 1rem;
  }

  .intro-right {
    transform: scale(0.8);
    left: -3rem;
  }

  .intro-right .blur {
    display: none;
  }

  .floating-div:nth-of-type(1) {
    top: -7rem !important;
  }
}
