.footer {
  height: 8vh;
  display: flex;
  align-items: center;
  margin-top: -8rem;
  background-color: var(--orange);
}
.footer-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  color: white;
}

@media screen and (max-width: 480px) {
  .footer-content p {
    font-size: 0.8rem;
  }
}
