.testimonials {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4rem;
}

.t-blur1 {
  left: 60rem;
  top: 36rem;
}
.t-blur2 {
  top: -5rem;
  left: 0;
}
