.toggle {
  display: flex;
  justify-content: center;
  border: 1px solid #fca71f48;
  border-radius: 5px;
  position: relative;
  padding-top: 4.5px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.toggle > * {
  width: 2rem;
  color: var(--orange);
}
